PyQt6==6.4.2
qasync==0.24.0
websockets==11.0.3
numpy
gymnasium==0.29.1
stable-baselines3==2.1.0
torch
sb3-contrib==2.1.0
influxdb-client[async]==1.36.0
dependency-injector
returns==0.22.0
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-mock==3.11.1
numba
pyinstaller==5.13.0
PyYAML==6.0.1
python-dotenv==1.0.0
aiohttp
pyqtgraph==0.13.3
tensorboard==2.14.0
